
:host {
    width:100%
}

.mat-mdc-form-field {
    display: block;
}

.toggle-hint {
  font-size: 12px;
  margin-top: 4px;
  padding-left: 15px;
  color: var(--mat-sidenav-content-text-color);
}

.toggle-error {
  font-size: 12px;
  margin-top: 4px;
  color: var(--md-sys-color-error);
}

.toggle-icon {
  margin-inline-end: .5rem;
  vertical-align: middle;
}

.toggle-label {
  vertical-align: middle;
}
